.list{
  border: none !important ;
}
.portrait-position{
  margin:0;
}
.first-front{
  padding: 0;
  margin: 0;
}
.second-front{
  padding: 0;
  margin: 0;
  color: gray;
}
.progress{
  margin-top: 5px;
}
.button{
  width: 50px;
}
.edit-position{
  width:20px;
}
.foot-front{
  margin-top: 10px;
  color: gray;
}
.my-button{
  padding: 0;
}