#card{
  height: 130px ;
  border: 0 ;
  position: relative;
  border-radius: 10px;
}
.bgimg{
  background-image: url(../../../../img/card.jpg);
  height: 90%;
  z-index: 0;
}

.portrait{
  height: 70%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 50%;
  transform:translate(50%,0%);
}
.upload-header{
  position: absolute;
  z-index: 1;
  bottom: 15%;
  left: 100%;
  transform:translate(-120%,0%);
  display: flex;
}
.upload-header-button{
  display: flex;
}
.camera{
  margin: 5px;
}
